@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}

#home{
  text-align: center;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.form-group{
  position: absolute;
  padding: 20px;
  color: #d3d3d3;
}

#search{
  background-color: black;
}

.bars{
  background:#000;
  padding:20px;
  color:white;
}

#search{
  color: #d3d3d3;
}

#buttons{
  position: absolute;
  bottom: 1%;
  right: 2%;
}

#code{
  margin-right: 10px;
  color: #d3d3d3;
}

#about{
  color: #d3d3d3;
}

#footer{
  position: absolute;
  bottom: 3%;
  width: 90%;
  text-align: center;
}